body{
    display: flex;
    justify-content: center ;
    margin-top: 20vh;
    background-color: rgb(248, 242, 235);
}
p{
    font-weight: 900;
    font-size: 3.5em;
    font-family: 'Times New Roman', Times, serif;
    color: #643843;
    margin-bottom: 5vh;
}
#loading{
    margin-left: 10vw;
    height: 11vh;
    width:11vh;
    border-radius: 50%;
    border: 0.4vh solid #FACBEA;
    animation: load 1s linear 0s 5 normal;
    border-top:0.8vh solid #B0578D;
}
@keyframes load{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.main{
    animation: change 500s linear 5s 1 normal;
    margin-top: 2.5vh;
    position: absolute;
}
@keyframes change{
    0%{
        opacity:1;
    }
    0.01%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
.success{
    margin-top: 4.5vh;
    display: flex;
    animation: appear 100s linear 0s 1 normal;
}
@keyframes appear{
    0% ,1% , 2% , 3%,4%, 5% , 5.1%{
        opacity:0;
    }
    5.12% , 100%{
        opacity:1;
    }
}
i{
    font-weight: 900;
    font-size: 3.7em;
    color: green; 
}
#tick{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    height: 13vh;
    width:13vh;
    border-radius: 50%;
    border: 0.4vh solid green;
    background-color: rgb(252, 252, 184);
    margin-top: 5.2vh;
}
.success p{
    font-weight: 900;
    font-size: 3.5em;
    font-family: 'Times New Roman', Times, serif;
    color: #b18c20;
}